body {
    font-family: "Inika";
    color: #8B7969;
}


.header {
    border-bottom: 1px solid #E0DFDE;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    text-align: center;
    max-width: 1230px;
}

.header__logo {
    color: #8B7969;
    text-decoration: none;
    font-weight: 400;
    font-size: 40px;
}


.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.contact-form__heading {
    color: #8B7969;
    margin-bottom: 40px;
    text-align: center;
    font-size: 25px;
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form__label--item {
    font-size: 20px;
}

.form__label--required {
    color: #ff0000;
    font-size: 20px;
}

.form__group-content {
    width: 70%;
}

.form__input--text {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form__input--text input,
.form__select-type,
.form__input--textarea textarea {
    width: 100%;
    margin: 0 20px;
    padding: 10px;
    border: none;
    background-color: #f4f4f4;
    color: #BEB1A6;
    appearance: none;
}

.select__arrow {
    position: absolute;
    width: 40px;
    height: 20px;
    background: #BEB1A6;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}

.form__input--text input {
    height: 40px;
}

.form__input--textarea textarea {
    resize: none;
    height: 120px;
}

.form__input-radio {
    width: 70%;
    margin: 0 20px;
    display: flex;
    align-items: center;
    gap: 15%;
}


.gender__radio {
    position: relative;
    display: block;
    padding-left: 28px;
    user-select: none;
}

.gender__radio input {
    display: none;
}

.gender__radio-mark {
    margin-top: 2px;
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border: 1px solid #8B7969;
    border-radius: 50%;
}

.gender__radio-mark::after {
    content: "";
    position: absolute;
    background: #8B7969;
    border-radius: 50%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    transform: scale(0); /*opacity: 0;*/
}

.form__input-radio input + .gender__radio-mark::after {
    transform: scale(1); /*opacity: 1;*/
}

label {
    display: block;
    cursor: pointer;
}

.hyphen {
    align-items: center;
    margin-top: 6px;
}

.form__select {
    display: flex;
    width: 30%;
}



.form__button-submit {
    background: #82756A;
    color: white;
    border: none;
    padding: 10px 40px;
    width: 20%;
    font-size: 16px;
    cursor: pointer;
}




/* フォームデザイン 
.contact-form {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}*/

/*.form-group {
    text-align: left;
    margin-bottom: 20px;
}*/

/*label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}*/


/* エラーメッセージ 
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}*/

/* 入力スタイル 
input, select, textarea {
    width: 100%;
    padding: 10px;
}*/



